<h1>Cisco Academy Support Center (ASC)</h1>

<h3>Зачем нужен ASC?</h3>

<p>ASC (Academy Support Center) – Центр поддержки академий – осуществляет техническую, методическую и информационную поддержку прикреплённых к нему академий. ASC не является структурным подразделением компании Cisco и осуществляет свою деятельность самостоятельно. Каждая академия Cisco должна выбрать себе ASC и подать заявку на прикрепление к нему в системе Cisco NetSpace. ASC призваны облегчить жизнь академий, предоставляя сервисы на языке страны присутствия. Таким образом, российские академии могут рассчитывать на получение помощи в российских ASC на русском языке.</p>

<h3>Что получит наша академия и сколько это стоит?</h3>

<p>Каждый ASC предоставляет сервисы двух уровней:</p>

<ul>
  <li>Базовый набор сервисов (baseline services), включающий помощь в открытии новых академий и техническую поддержку существующих академий;</li>
  <li>Снижение дефицита кадров в области ИТ</li>
  <li>Поднятие престижа университета, имеющего региональную сетевую академию Cisco Systems</li>
  <li>Повышение конкурентоспособности выпускников (систематические знания, практика, владение техническим английским языком)</li>
</ul>

<h3>Пакеты услуг по поддержке</h3>

<p>Мы предлагаем три пакета услуг для академий Cisco:Базовый пакет, Академический пакет, Премиальный пакет</p>

<div class="hero-unit">
  <h3>Базовый пакет</h3>
  <p>Базовый пакет содержит минимальное количество основных услуг. В этот пакет входит:</p>
  <ul>
    <li>Ассоциация академии с ASC в NetSpace</li>
    <li>Доступ к справочным и прочим материалам на www.ciscoacademy.ru</li>
    <li>Организация инструкторских тренингов</li>
    <li>Русскоязычные рассылки по важным обновлениям программы</li>
    <li>Консультирование по общим вопросам, связанным с работой Академии Cisco</li>
    <li>Консультирование по работе с  системой управления обучением Cisco NetSpace</li>
    <li>Онлайн-вебинары, которые мы будем организовывать не менее трех раз в год</li>
    <li>Возможность обращения в ASC разными способами: по электронной почте, скайп или по телефону 8 800 (бесплатно из РФ)</li>
  </ul>
  <p>Стоимость поддержки в рамках Базового пакета в течение одного года — 10 000 рублей</p>
</div>

<div class="hero-unit">
  <h3>Академический пакет</h3>
  <p>Академический пакет включает в себя услуги:</p>
  <ul>
    <li>Все услуги в рамках Базового пакета</li>
    <li>Обработка запросов в приоритетном порядке</li>
    <li>Консультирование по методическим вопросам</li>
    <li>Техническое консультирование по учебным материалам курсов</li>
    <li>Консультирование по маркетингу и продвижению академии
      <ul>
        <li>пакет маркетинговых материалов (флаги, плакаты, стикеры, ручки с символикой и др.)</li>
        <li>или учебная литература по продвинутым курсам (CCNA Security, CCNP)</li>
      </ul>
    </li>
  </ul>
  <p>Стоимость поддержки в рамках Академического пакета в течение одного года — 30 000 рублей</p>

</div>

<div class="hero-unit">
  <h3>Премиальный пакет</h3>
  <p>Премиальный пакет включает в себя услуги:</p>
  <ul>
    <li>Все услуги в рамках Академического пакета</li>
    <li>Мероприятия по профессиональному развитию на выбор:
      <ul>
        <li>Инструкторский тренинг по одному из курсов: IT Essentials, CCNA*, CCNA Security или CCNP**</li>
        <li>Ваучер на сдачу одного сертификационного экзамена Cisco по курсам в рамках портфолио Сетевой академии</li>
      </ul>
    </li>
  </ul>
  <p><small>* при наличии мест в группах</small></p>
  <p><small>** один из трех курсов CCNP, при наличии мест в группах</small></p>
  <p>Стоимость поддержки в рамках Премиального пакета в течение одного года — 50 000 рублей</p>
</div>

<%= link_to 'Подать заявку на поддержку','requisitions/new', class: "btn btn-large btn-warning"%>





