<h2>Cостав Региональной Академии</h2>

<h4>В состав Региональной Академии "МАТИ" входят следующие Локальные Академии Cisco: </h4>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Академия</th>
    <th>Koнтактное лицо</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Российский Государственный Технологический Университет
      Москва, Берниковская Набережная,14
      Россия,  109240</td>
    <td>Сергей Муравьев
      тел.+7(495) 9153580
      мuraviyov@testing.ru</td>
  </tr>

  <tr>
    <td>Институт Обучения и переобучения специалистов при Ростовском Государственном Строительном Университете
      Ростов на Дону, ул. Социалистическая,162
      Россия,  344022</td>
    <td>Юрий Логвинов
      тел.+7(863) 224402
      (0)+7(8632)224402  ipps@jeo.ru</td>
  </tr>

  <tr>
    <td>Дальневосточный Государственный Университет
      Владивосток, ул. Суханова, 8,
      Россия,  690000
      www.cnets.ru</td>
    <td>Александр Нудьга
      тел.+ 7(4232) 510500
      nudga@vip.dvgu.ru</td>
  </tr>

  <tr>
    <td>Самарский Государственный Университет
      Самара, ул. Академика Павлова, 1,
      Россия,  443011
      http://cisco.ssu.samara.ru/</td>
    <td>Дмитрий Лимов
      тел. +7 (846) 2637120
      dlim@ssu.samara.ru</td>
  </tr>

  <tr>
    <td>ЦОиТ САМАН-МАТИ
      Москва, Берниковская Набережная , д.14 стр.2,
      Россия,  109240
      http://education.ru</td>
    <td>Инстр. Сергей Гуснин
      тел.+7(495) 9153580
      Gusnin@testing.ru</td>
  </tr>

  <tr>
    <td>Школа №1006
      Москва, ул. Шолохова, 9,
      Россия,  119634</td>
    <td>Игорь Ходяков
      тел.+7(495) 7336727
      ikhodyakov@yandex.ru</td>
  </tr>

 <tr>
    <td>Военный Профессиональный Центр Переобучения при Уральском Государственном Университете
      Екатеринбург, ул. Чапаева, 16,
      Россия,  620142 </td>
    <td>Дмитрий Зобнин
      тел.+7(343) 3793162
      dzobnin@yandex.ru</td>
  </tr>

  <tr>
    <td>Институт Обучения и переобучения специалистов при Ростовском Государственном Строительном Университете
      Ростов на Дону, ул. Социалистическая,162
      Россия,  344022 </td>
    <td>Инстр. Юрий Логвинов
      тел.+7(863) 224402
      ipps@jeo.ru</td>
  </tr>

  <tr>
    <td>Тихоокеанский Центр Переподготовки военнослужащих ДВГТУ
      Владивосток, Пушкинская ул. 10, a-229,
      Россия,   690000 </td>
    <td>Иван Кожемякин
      тел.+7(4232) 223331
      magistr@inbox.ru</td>
  </tr>

  <tr>
    <td>Центр Переобучения Военных Специалистов в регионе Волги
      The Centre of Retraining Courses Military Men of Volga region in SSEA
      Самара, ул. Советской Армии, 141,
      Россия,  443080 </td>
    <td>Алексей Китлин
      тел. +7 8462 221040
      AlexAKit@mail.ru</td>
  </tr>

  <tr>
    <td>Институт дополнительного Профессионального Обучения
      Санкт-Петербург, Прогонная улица, 11,
      Россия,  192012
      http://idpo.spb.ru/</td>
    <td>Сергей Максименко-Литвак
      тел.+7(812) 2623128
      smak@idpo.spb.ru</td>
  </tr>

  <tr>
    <td>Мордовская Академия Cisco
      Саранск, Большевистская ул., 68,
      Россия,  430000 </td>
    <td>Дмитрий Ладяев
      тел.+7(8342) 475791
      headmaster@cisco.mrsu.ru</td>
  </tr>

  <tr>
    <td>МИЭМ – Московский Государственный Институт Электроники и Математики
      Москва</td>
    <td>...</td>
  </tr>

  <tr>
    <td>МГАПИ
      Москва, ул. Строминка, 20,
      Россия,  107996</td>
    <td>...</td>
  </tr>

  <tr>
    <td>МЕСИ
      Москва, Нежинская ул., 7,
      Россия,  119501</td>
    <td>...</td>
  </tr>

  <tr>
    <td>Нижегородский Институт Информационных Технологий
      Нижний Новгород, ул. Родионова, 192 -1,
      Россия,  603126 </td>
    <td>...</td>
  </tr>

  <tr>
    <td>Воронежский Государственный Технический Университет
      Воронеж, Московский проспект, строение,
      Россия,  394026 </td>
    <td>...</td>
  </tr>

 </tbody>
</table>