<h1>Об Академии</h1>

<h3>Региональная Академия Cisco</h3>

<p><strong>"МАТИ" - Российский Государственный Технологический Университет</strong> является Региональной Академией Cisco. Региональная Академия работает с Локальными академиями Cisco и готовит для них инструкторов по направлениям CCNA, IT Essentials и Wireless.</p>

<p>Интенсивное развитие и внедрение телекоммуникационных технологий предопределяет устойчивый дефицит квалифицированных специалистов в этой сфере.

  Программа "Cisco Networking Academy" предназначена для студентов и специалистов, желающих приобрести новую специальность в области проектирования, построения и обслуживания сетей передачи данных.</p>

<p>По окончании программы слушатели получают объем информации и практические навыки, достаточные для сдачи квалификационных экзаменов в соответствии с требованиями общепризнанных в сетевой индустрии сертификационных образовательных стандартов.</p>

<p>Обучение по программе разбито на тематические блоки (семестры) и включает в себя большой объем самостоятельной работы: множество упражнений, практические и лабораторные работы на оборудовании Cisco.</p>

<p>Программа в объеме первых четырех семестров подготавливает слушателей к сдаче экзамена на начальный уровень сертификации в структуре сертификационной программы Cisco - Cisco Certified Network Associate (CCNA) Routing & Switching. В учебном процессе используются современные средства электронного обучения и автоматизированного контроля знаний. Контроль знаний является обязательным и осуществляется непосредственно Cisco.</p>

<h3>Задачи региональной сетевой академии Cisco "МАТИ":</h3>

  <ul>
    <li>Улучшение качества ИТ образования (получение слушателями практических навыков в сетевых технологиях)</li>
    <li>Снижение дефицита кадров в области ИТ</li>
    <li>Поднятие престижа университета, имеющего региональную сетевую академию Cisco Systems</li>
    <li>Повышение конкурентоспособности выпускников (систематические знания, практика, владение техническим английским языком)</li>
   </ul>
<P>Региональная академия формирует и поддерживает работу Локальных академий. Так представители Региональной академии являются основным источником информации для инструкторов Локальных академий по вопросам, связанным с учебной программой, лабораторным оборудованием и программой в целом. Также в обязанности Региональной академии входит обучение инструкторов Локальных академий.</P>