<h1>Как стать Локальной Академией Cisco</h1>

<p><strong>Шаг 1: Показать свою заинтересованность в программе Cisco Networking Academy Program.</strong></p>
<p>Для этого необходимо подать заявку на сайте: <a href="http://ciscoeducation.ru/">ciscoeducation.ru</a> </p>

<p><strong>Шаг 2: С вами свяжутся для получения дополнительной информации.</strong> Для того чтобы начать предлагать программы Сетевой Академии, ваш учебный центр должен располагать следующими ресурсами:</p>
    <ul>
      <li>Класс для обучения</li>
      <li>Компьютеры (не менее 5) для лабораторных работ, которые будут доступны слушателям для разборки/сборки, переустановки операционных систем и прочих действий. Не требуются самые современные компьютеры, но они должны быть работоспособными, на них должна устанавливаться и нормально работать Windows XP/7. Желательно чтобы все компьютеры были абсолютно одинаковыми, это значительно упростит проведение лабораторных работ (один набор инструкций, демонстраций, драйверов).
        Операционные системы Windows XP/Vista/7 по количеству компьютеров.</li>
      <li>Операционные системы Windows XP/Vista/7 по количеству компьютеров.</li>
      <li>Наличие работоспособного принтера и сканера с возможностью подключения к компьютеру. Вместо принтера и сканера можно использовать МФУ.</li>
      <li>Беспроводной маршрутизатор для соединения лабораторных компьютеров в сеть и выполнения заданий по сетевым технологиям. Желательно использовать маршрутизатор Linksys WRT54G, т.к. задания в курсе написаны под него.</li>
      <li>Для занятий по сборке компьютеров нужны отвертки по количеству компьютеров. Также желательно мягкие коврики для выкладывания компонентов, лотки для винтов, антистатические браслеты.</li>
      <li>Приобрести оборудование со скидкой и оборудовать лабораторию.</li>
    </ul>

<p><strong>Шаг 3: Обсуждение вопросов сотрудничества.</strong> Потенциальная Локальная и ее Региональная Академии обсудят вопросы обучения и цены для предоставления соответствующего обучения.</p>

<p><strong>Шаг 4: Зарегистрироваться онлайн и предложить обучение.</strong> Когда Региональная Академия зарегистрирует новую Локальную Академию, она отправит письмо главной персоне этой Локальной Академии для доступа на сервер сообщества Cisco.</p>

<p><strong>Шаг 5: Обучить сертифицированных инструкторов.</strong> Чтобы читать курсы, инструктора должны окончить обучение и получить сертификаты. Они должны сдать финальный экзамен не хуже, чем на 80 процентов, и сдать практический тест в конце каждого семестра. Инструктора для Локальных Академий обучаются в Региональных Академиях.</p>
