<h1>Программа Академии Cisco</h1>

<h3>О Программе</h3>

<p>Программа Академии Cisco – это комплексная программа электронного обучения, предоставляющая студентам знания в области технологий Интернета, необходимые в условиях глобальной экономики. Программа Академии включает материалы, доступные через Интернет, инструменты оценки знаний, средства отслеживания академических успехов студентов, практические лабораторные занятия, а также курсы подготовки для получения признанных в отрасли профессиональных сертификатов.</p>

<p>Программа Академии Cisco действует более чем в 10000 Академиях, расположенных в школах, техникумах, колледжах, университетах и общественных организациях во всем мире. Эти организации используют свой опыт в области образования и свои мощности, чтобы дать студентам качественные знания по программе Академии.</p>
<p>Учебная программа Академии, разработанная представителями отрасли вместе с профессионалами в области образования, готовит студентов к решению задач, которые встанут перед ними на рабочих местах, а также мотивирует их к продолжению своего образования. Обучение по программе Академии проходит в разных странах и на многих языках. Данные оценки, полученные от студентов, используются для адаптации и повышения качества уроков, лабораторных занятий и подготовки преподавателей. Программа учитывает различные стили обучения и предлагает мультимедийные материалы, доступные через Интернет; средства оценки знаний на всем протяжении курса; практические лабораторные занятия; сетевые симуляторы; а также подготовку и поддержку преподавателей. По окончании обучения студенты могут сдать экзамен на получение индустриального сертификата.</p>

<div class="span12">
<h3>Организации-члены сообщества Академии Cisco выполняют следующие функции, согласно своей роли:</h3>
</div>

<div class="span6" id="table1">
    <table class="table table-striped">
        <thead>
            <tr>
            <th>Роль организации</th>
            <th>Основные задачи</th>
            </tr>
        </thead>
  <tbody>
  <tr>
    <td>Академия Cisco</td>
    <td>Учить студентов навыкам информационно-коммуникационных технологий 21 века</td>
  </tr>
  <tr>
    <td>Центр поддержки академий</td>
    <td>Предоставлять базовую поддержку академиям</td>
  </tr>
  <tr>
    <td>Центр подготовки инструкторов</td>
    <td>Обучать и повышать квалификации инструкторов Академий Cisco</td>
  </tr>
    </tbody>
    </table>
</div>



<div class="span5">
  <%=image_tag('model.png', :alt => "Добавить") %>
</div>
<div class="span10">

  <h3>Академии Cisco (Cisco Academies)</h3>

  <ul>
    <li>Обучают студентов принципам и навыкам построения сетей, с использованием учебных программ Академии Cisco
    <li>Придерживаются принятых в программе высоких норм качества обучения
  </ul>

  <h3>Центры подготовки инструкторов (Instructor Training Centers)</h3>

      <ul>
        <li>Обучают и авторизуют новых и существующих инструкторов Академий Cisco, которые затем обучают студентов
        <li>Создают возможности для непрерывного повышения квалификации инструкторов (instructor professional development, IPD)
        <li>Создают и предоставляют онлайн-доступ к ресурсам для инструкторов
        <li>Помогают инструкторам академий, которых они готовят, понять требования и лучшие методы организации лабораторных классов для соответствующих учебных программ
        <li>Помогают обучаемым инструкторам организовать их лаборатории
        <li>Помогают инструкторам отвечать на технические вопросы по учебным программам
        <li>Придерживаются принятых в программе высоких норм качества обучения

      </ul>

  <h3>Центр поддержки академий (Academy Support Center)</h3>
  <p>Роль Центра поддержки академий состоит в продвижении устойчивого развития ассоциированных с ним Академий Cisco. Это достигается за счет:</p>
  <ul>
    <li>Помощи новым академиям в присоединении к сообществу
    <li>Локализация и распространение важной информации
    <li>Повышение осведомленности и предложение обучения в использовании доступных и появляющихся ресурсов для Академий Сisco
    <li>Участие в обсуждениях в онлайн-сообществе Академии Cisco с целью помочь членам программы найти доступные ресурсы
    <li>Поддерживать Академии в стремлении делиться полезным опытом и вступать в дискуссии, посвященные учебным программам, достижениям студентов и текущим делам
  </ul>

  <h3>Cisco</h3>

  <ul>
    <li>Поддерживает Центры подготовки инструкторов и Центр поддержки академий, а также способствует развитию сообщества
    <li>Разрабатывает и поддерживает программу, учебные курсы, экзамены и систему онлайн-доступа к ним
    <li>Предоставляет инструменты контроля качества и поддержку Академиям Cisco, а также Центру поддержки академий и Центрам подготовки инструкторов
    <li>Предоставляет прочие важные ресурсы для Академий Сisco
  </ul>



</div>