@import "bootstrap";

body {

  padding: 0;
}
html, body {
  height: 100%;
  width: 100%;
}

#main_content {
  margin-top: 60px;
}
#wrapper {

  margin: 0 auto;
  position: relative;
  min-height: 100%;
  height: auto !important;
  width: 100%;
  cursor: default;

  .container-fluid {
    margin-top: 10px;
    margin-left: 10px;
    border-top: 1px solid #d5d5d5;

  }

  .span2{
    margin-top: 50px;
    font-weight: bold;

  }
  .span10 {
    width: 82.97872%;
    margin-top: 10px;

  }
}
#header {
  position: relative;
  z-index: 9999;
  height: 120px;
  margin: 0 0 0 0;


  .logo-img{
    width:1000px;
    margin: 0 auto;
    margin-top: 20px;
    height: 100px;
  }
}

footer {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  border-top: 1px solid #d5d5d5;
  margin-top: 60px;
  .main{
    margin-top: 15px;


  }
  small {
    font-size: 11px;
    color: #999999;

  }
}
#table1 {
  margin-top: 70px;
}

#form6 {
  margin-top: 15px;
  width: 980px;
  height: 500px;
  padding-top: 25px;
  padding-left: 40px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#form3 {
  width: 100%;
  height: 42px;
  margin-left: 25px;
}

#form4 {
  width: 250px;
  height: 35px;
}

#form5 {
  width: 500px;
  height: 32px;
  margin-top: 5px;
}
input {
  width: 550px;
}
#btn1 {
  margin-top: 25px;
  font-size: 18px;
  font-weight: 70px;
  margin-left: 5px;
}
#doc {
  width: 100%;
  height: 42px;
  margin-left: 25px;
  margin-top: 20px;
}

#requisition_doc {

  line-height: 0px;
}

